body {
    font-family: sans-serif;
    color: #444444;
    margin: 16px;
}

table {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a:hover {
    color: #666666;
}

#sidebar {
    padding: 20px;
}

#map {
    width: 66%;
}

#description {
    padding: 10px 0px;
}

#footer {
    position: absolute;
    color: #aaaaaa;
    right: 20px;
    bottom: 20px;
}

.legend-item {
    font-size: 18px;
    margin: 16px 0px;
}

.legend-mouseover {
    font-size: 26px;
}
